.navbar{
    background-color: gray;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
}

.navbar a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
    font-weight: 500;
    padding: 0 10px;
}

.navbar a:hover{
    color: rgba(255, 99, 71, 0.922);
    font-weight: 600;
}

